
.flex-card {
    @include flex(column, null, center, center);
    border-radius: 5px;
    padding: 30px;
    background: $color-bg;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,1);
    border: 1px solid $color-border-dark;
    font-family: $ubuntu;
    .title {
        @include font(28px, 700);
    }
    .row {
        @include flex(column, null, null, center);
        padding: 20px;
    }
    .column {
        @include flex(row, wrap, center, center);
        padding: 20px;
    }
    .btns {
        button {
            margin: 0px 10px 0px 10px;
        }
    }
}

.small {
    .row {
        padding: 10px;
        .column {
            padding: 10px;
        }
    }
    .title {
        @include font(22px, 600);
    }
    button {
        @include font(18px, 600);
        padding: 5px 15px 5px 15px;
    }
    label {
        @include font(18px, 500);
        padding: 5px;
    }
    input, select {
        padding: 5px;
        @include font(18px, 500);
    }
}

.main-card {
    z-index: 7;
}

.back {
    z-index: 5;
    @include flex(null, null, center, center);
    @include position(0, 0, 0, 0);
}

.back-drop {
    z-index: 6;
    @include position(0, 0, 0, 0);
    @include flex(null, null, center, center);
    background: rgba($color: #000000, $alpha: .5);
}